<h1>Volunteer Form</h1>

<form [formGroup]="volunteerform" (ngSubmit)="onSubmit()">
    <h2>Personal Information</h2>

    <label for="firstname">Name</label>
    <input type="text" formControlName="name" id="firstname"
    [class.invalid]="
        volunteerform.get('name')?.invalid &&
        (volunteerform.get('name')?.dirty ||
          volunteerform.get('name')?.touched ||
          isSubmitted)
      ">
    <span *ngIf="volunteerform.get('name')?.hasError('required') &&
        (volunteerform.get('name')?.dirty ||
          volunteerform.get('name')?.touched ||
          isSubmitted)" class="error">This field is required.</span>

    <label for="phoneNumber">Phone Number</label>
    <input type="text" formControlName="phoneNumber" id="phoneNumber" 
    [class.invalid]="
        volunteerform.get('phoneNumber')?.invalid &&
        (volunteerform.get('phoneNumber')?.dirty ||
          volunteerform.get('phoneNumber')?.touched ||
          isSubmitted)
      ">

    <span *ngIf="volunteerform.get('phoneNumber')?.hasError('required') &&
            (volunteerform.get('phoneNumber')?.dirty ||
              volunteerform.get('phoneNumber')?.touched ||
              isSubmitted)" class="error">This field is required.</span>

    <label for="location">Select Preferred Location</label>
    <select id="location" formControlName="preferredLocation" (change)="selectLocation($event)">
        <option *ngFor="let loc of locations" [ngValue]="loc">{{loc}}</option>
    </select>

    <h2>Please select what animals you're comfortable working with, if any:
        <div formGroupName="animals">
            <label for="dogs">Dogs</label>
            <input formControlName="dogs" type="checkbox" id="dogs">

            <label for="cats">Cats</label>
            <input formControlName="cats" type="checkbox" id="cats">

            <label for="reptiles">Reptiles</label>
            <input formControlName="reptiles" type="checkbox" id="reptiles">
        </div>
    </h2>

    <h2>Refrence(s)</h2>

    <div formArrayName="references" *ngFor="let ref of references.controls; let i = index">
        <label for="email" placeholder="optional">Email</label>
        <input [formControlName]="i" type="email" id="email" >

    <button type="button" (click)="removeEmail(i)" id="remove_email">X</button>
    </div>

    <button type="button" (click)="addEmail()">Add another email</button>
    <button id="apply_button">Submit</button>
</form>